<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyc.mapper.FilterpathMapper">
  <resultMap id="BaseResultMap" type="com.zyc.model.Filterpath">
    <constructor>
      <idArg column="filterid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="filterPath" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="filterAuthority" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="filterRole" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="StartDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="EndDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    filterid, filterPath, filterAuthority, filterRole, StartDate, EndDate
  </sql>
  <select id="selectByExample" parameterType="com.zyc.model.Example.FilterpathExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FilterPath
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zyc.model.Example.FilterpathExample">
    delete from FilterPath
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.zyc.model.Filterpath">
    insert into FilterPath
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="filterid != null">
        filterid,
      </if>
      <if test="filterpath != null">
        filterPath,
      </if>
      <if test="filterauthority != null">
        filterAuthority,
      </if>
      <if test="filterrole != null">
        filterRole,
      </if>
      <if test="startdate != null">
        StartDate,
      </if>
      <if test="enddate != null">
        EndDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="filterid != null">
        #{filterid,jdbcType=INTEGER},
      </if>
      <if test="filterpath != null">
        #{filterpath,jdbcType=VARCHAR},
      </if>
      <if test="filterauthority != null">
        #{filterauthority,jdbcType=VARCHAR},
      </if>
      <if test="filterrole != null">
        #{filterrole,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null">
        #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zyc.model.Example.FilterpathExample" resultType="java.lang.Long">
    select count(*) from FilterPath
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update FilterPath
    <set>
      <if test="record.filterid != null">
        filterid = #{record.filterid,jdbcType=INTEGER},
      </if>
      <if test="record.filterpath != null">
        filterPath = #{record.filterpath,jdbcType=VARCHAR},
      </if>
      <if test="record.filterauthority != null">
        filterAuthority = #{record.filterauthority,jdbcType=VARCHAR},
      </if>
      <if test="record.filterrole != null">
        filterRole = #{record.filterrole,jdbcType=VARCHAR},
      </if>
      <if test="record.startdate != null">
        StartDate = #{record.startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.enddate != null">
        EndDate = #{record.enddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update FilterPath
    set filterid = #{record.filterid,jdbcType=INTEGER},
      filterPath = #{record.filterpath,jdbcType=VARCHAR},
      filterAuthority = #{record.filterauthority,jdbcType=VARCHAR},
      filterRole = #{record.filterrole,jdbcType=VARCHAR},
      StartDate = #{record.startdate,jdbcType=TIMESTAMP},
      EndDate = #{record.enddate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyc.model.Filterpath">
    update FilterPath
    <set>
      <if test="filterpath != null">
        filterPath = #{filterpath,jdbcType=VARCHAR},
      </if>
      <if test="filterauthority != null">
        filterAuthority = #{filterauthority,jdbcType=VARCHAR},
      </if>
      <if test="filterrole != null">
        filterRole = #{filterrole,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null">
        StartDate = #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null">
        EndDate = #{enddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where filterid = #{filterid,jdbcType=INTEGER}
  </update>
</mapper>