<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyc.mapper.ScqMapper">
  <resultMap id="BaseResultMap" type="com.zyc.model.Scq">
    <constructor>
      <idArg column="SCQId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="questiontype" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="subjectid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="SCQText" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="AnswerA" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="AnswerB" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="AnswerC" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="AnswerD" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="Answer" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="StartDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="EndDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    subjectid,questiontype,SCQId, SCQText, AnswerA, AnswerB, AnswerC, AnswerD, Answer, question.StartDate, question.EndDate
  </sql>
  <select id="selectByExample" parameterType="com.zyc.model.Example.ScqExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from question inner join SCQ on questionid=SCQId
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zyc.model.Example.ScqExample">
    delete from SCQ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.zyc.model.Scq">
    insert into SCQ
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scqid != null">
        SCQId,
      </if>
      <if test="scqtext != null">
        SCQText,
      </if>
      <if test="answera != null">
        AnswerA,
      </if>
      <if test="answerb != null">
        AnswerB,
      </if>
      <if test="answerc != null">
        AnswerC,
      </if>
      <if test="answerd != null">
        AnswerD,
      </if>
      <if test="answer != null">
        Answer,
      </if>
      <if test="startdate != null">
        StartDate,
      </if>
      <if test="enddate != null">
        EndDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scqid != null">
        #{scqid,jdbcType=INTEGER},
      </if>
      <if test="scqtext != null">
        #{scqtext,jdbcType=VARCHAR},
      </if>
      <if test="answera != null">
        #{answera,jdbcType=VARCHAR},
      </if>
      <if test="answerb != null">
        #{answerb,jdbcType=VARCHAR},
      </if>
      <if test="answerc != null">
        #{answerc,jdbcType=VARCHAR},
      </if>
      <if test="answerd != null">
        #{answerd,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null">
        #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zyc.model.Example.ScqExample" resultType="java.lang.Long">
    select count(*) from SCQ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SCQ
    <set>
      <if test="record.scqid != null">
        SCQId = #{record.scqid,jdbcType=INTEGER},
      </if>
      <if test="record.scqtext != null">
        SCQText = #{record.scqtext,jdbcType=VARCHAR},
      </if>
      <if test="record.answera != null">
        AnswerA = #{record.answera,jdbcType=VARCHAR},
      </if>
      <if test="record.answerb != null">
        AnswerB = #{record.answerb,jdbcType=VARCHAR},
      </if>
      <if test="record.answerc != null">
        AnswerC = #{record.answerc,jdbcType=VARCHAR},
      </if>
      <if test="record.answerd != null">
        AnswerD = #{record.answerd,jdbcType=VARCHAR},
      </if>
      <if test="record.answer != null">
        Answer = #{record.answer,jdbcType=VARCHAR},
      </if>
      <if test="record.startdate != null">
        StartDate = #{record.startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.enddate != null">
        EndDate = #{record.enddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SCQ
    set SCQId = #{record.scqid,jdbcType=INTEGER},
      SCQText = #{record.scqtext,jdbcType=VARCHAR},
      AnswerA = #{record.answera,jdbcType=VARCHAR},
      AnswerB = #{record.answerb,jdbcType=VARCHAR},
      AnswerC = #{record.answerc,jdbcType=VARCHAR},
      AnswerD = #{record.answerd,jdbcType=VARCHAR},
      Answer = #{record.answer,jdbcType=VARCHAR},
      StartDate = #{record.startdate,jdbcType=TIMESTAMP},
      EndDate = #{record.enddate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyc.model.Scq">
    update SCQ
    <set>
      <if test="scqtext != null">
        SCQText = #{scqtext,jdbcType=VARCHAR},
      </if>
      <if test="answera != null">
        AnswerA = #{answera,jdbcType=VARCHAR},
      </if>
      <if test="answerb != null">
        AnswerB = #{answerb,jdbcType=VARCHAR},
      </if>
      <if test="answerc != null">
        AnswerC = #{answerc,jdbcType=VARCHAR},
      </if>
      <if test="answerd != null">
        AnswerD = #{answerd,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        Answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null">
        StartDate = #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null">
        EndDate = #{enddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SCQId = #{scqid,jdbcType=INTEGER}
  </update>
</mapper>